@model dynamic

<html>
<head>
    <style>
        td {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center;">BÁO CÁO NHẬP-XUẤT-TỒN KHO HÀNG HÓA</h1>
    <h2 style="text-align:center;">Tháng @Model.DateElWarehouse.Month /2018</h2>
    <table style="width: 856px; height: auto; margin-left: auto; margin-right: auto;" border="1" cellspacing="0" cellpadding="5">
        <tbody>
            <tr style="height: 23px;">
                <td style="width: 92px; height: 46px;" rowspan="2">Mã vật tư</td>
                <td style="width: 90px; height: 23px;" rowspan="2">Tên vật tư</td>
                <td style="width: 90px; height: 23px;" rowspan="2">ĐVT</td>
                <td style="width: 182px; height: 23px;" colspan="2">Tồn đầu kỳ</td>
                <td style="width: 182px; height: 23px;" colspan="2">Nhập trong kỳ</td>
                <td style="width: 277px; height: 23px;" colspan="3">Xuất trong kỳ</td>
                <td style="width: 190px; height: 23px;" colspan="2">Tồn cuối kỳ</td>
            </tr>
        <tr style="height: 23px;">
            <td style="width: 91px; height: 23px;">SL</td>
            <td style="width: 91px; height: 23px;">Thành tiền</td>
            <td style="width: 91px; height: 23px;">SL</td>
            <td style="width: 91px; height: 23px;">Thành tiền</td>
            <td style="width: 92px; height: 23px;">Đơn giá xuất kho</td>
            <td style="width: 92px; height: 23px;">SL</td>
            <td style="width: 93px; height: 23px;">Thành tiền</td>
            <td style="width: 93px; height: 23px;">SL</td>
            <td style="width: 97px; height: 23px;">Thành tiền</td>
        </tr>
            @{
                foreach (var ele in Model.ReportRow)
                {
                    <tr style="height: 23px;">
                        <td style="width: 92px; height: 23px;">@ele.IdProduct</td>
                        <td style="width: 90px; height: 23px;">@ele.ProductName</td>
                        <td style="width: 90px; height: 23px;">@ele.Unit</td>
                        <td style="width: 91px; height: 23px;">@ele.QuantityTdk</td>
                        <td style="width: 91px; height: 23px;">@ele.Total1</td>
                        <td style="width: 91px; height: 23px;">@ele.QuantityNtk</td>
                        <td style="width: 91px; height: 23px;">@ele.Total2</td>
                        <td style="width: 92px; height: 23px;">@ele.PriceExport</td>
                        <td style="width: 92px; height: 23px;">@ele.QuantityXtk</td>
                        <td style="width: 93px; height: 23px;">@ele.Total3</td>
                        <td style="width: 93px; height: 23px;">@ele.QuantityTck</td>
                        <td style="width: 97px; height: 23px;">@ele.Total4</td>
                    </tr>
                }
                /**/}
        </tbody>
    </table>
</body>
</html>